.bubble {
    position: relative;
    padding: 15px;
    margin: 1em 0em 3em;
    width: 500px;
    line-height: 1.2; 
    text-align: center;
    color: #fff;
    /*border-radius*/
    -moz-webkit-border-radius: 10px;
    -ms-webkit-border-radius: 10px;
    -o-webkit-border-radius: 10px;
    webkit-border-radius: 10px;      
    border-radius: 10px;
    /*background-color*/
    background: -webkit-gradient(linear, left top, left bottom, from(#077098), to(#074080));
    background: -moz-linear-gradient(top, #077098, #074080);
    background: -o-linear-gradient(top, #077098, #074080);
    background: linear-gradient(top, #077098, #074080);
}

.bubble:after {
    position: absolute;
    content: "\00a0";
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: #074080 transparent transparent transparent;
    z-index: -1;
    bottom: -30px;
    left: 60px;
}